@font-face {
    font-family: "roboto";
    src: url("../fonts/roboto-light.ttf?p=2") format("truetype"), url("../fonts/roboto-light.woff?p=2") format("woff"), url("../fonts/roboto-light.eot?p=2") format("embedded-opentype"), url("../fonts/roboto-light.svg?p=2") format("svg");
    font-weight: 300;
}

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: gold;
    font-family: "roboto";
    font-weight: 300;
    margin: 0;
    padding-bottom: 80px;
}

body,
.gj-footer {
    background-color: #262626;
}

.gj-title {
    padding-left: 30px;
}

.gj-filters {
    margin-bottom: 30px;
}

.gj-filter {
    border: none;
    color: white;
    float: left;
    height: 35px;
    width: 33.33%;
    width: calc(100%/3);
}

.gj-filter:focus {
    outline: 0
}

.gj-filter-info {
    background-color: #261C1C;
}

.gj-filter-info-active,
.gj-report-title {
    background-color: #594F4F;
}

.gj-filter-error {
    background-color: #7F0000
}

.gj-filter-error.gj-filter-error-active,
.gj-report-error .gj-report-title {
    background-color: firebrick;
}

.gj-filter-warning {
    background-color: #855300
}

.gj-filter-warning.gj-filter-warning-active,
.gj-report-warning .gj-report-title {
    background-color: darkgoldenrod;
}

.gj-filter-search {
    -webkit-appearance: none;

    background: #EEEEEE;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    display: block;
    font-size: 17px;
    height: 30px;
    margin: 0 auto 15px;
    text-align: center;
    width: 33.33%;
    width: calc(100%/3)
}

.gj-filter-search:focus {
    outline: 0
}

.gj-report {
    width: 100%;
}

.gj-report,
.gj-report-result {
    box-sizing: border-box;
}

.gj-report-title,
.gj-report-result {
    padding: 5px
}

.gj-report-title {
    color: white;
}

.gj-report-result {
    float: left;
    width: 50%;
}

.gj-footer {
    border-top: 1px dotted #594F4F;
    bottom: 0;
    font-size: 12px;
    height: 30px;
    left: 0;
    line-height: 26px;
    position: fixed;
    right: 0;
    text-align: center;
}

.gj-url {
    color: gold;
    font-weight: bold;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

[ng-click] {
    cursor: pointer;
}