@font-face {
    font-family: "roboto";
    src: url("../fonts/roboto-light.ttf?p=2") format("truetype"), url("../fonts/roboto-light.woff?p=2") format("woff"), url("../fonts/roboto-light.eot?p=2") format("embedded-opentype"), url("../fonts/roboto-light.svg?p=2") format("svg");
    font-weight: 300;
}

body{
    background-color: #45ADA8;
    font-family: "roboto";
    font-weight: 300;
    margin: 0;
}

.gj-title {
    padding-left: 30px;
    color: #9DE0AD;
}

.gj-report {
    width: 100%;
}

.gj-report,
.gj-report-result {
    box-sizing: border-box;
}

.gj-report,
.gj-report-title,
.gj-report-result {
    padding: 15px
}

.gj-report-title {
    background-color: #594F4F;
    color: #E5FCC2;
}

.gj-report-result {
    float: left;
    width: 50%;
}

.gj-report-result:nth-child(odd){
    border-bottom: 1px solid #9DE0AD;
    background-color: #9DE0AD;
    color: #547980;
}

.gj-report-result:nth-child(even){
    border-bottom: 1px solid #9DE0AD;
    border-left: 1px solid #9DE0AD;
    background-color: #45ADA8;
    color: #E5FCC2;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }